.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  padding: 1em;

  text-align: center;
}

.about__logo {
  width: 12.5em;
  aspect-ratio: 1;

  object-fit: cover;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0) 60%
  );
}

.about__me {
  max-width: 25em;
}

.about__social-media {
  text-decoration: none;
}

.about__social-media {
  width: 100%;
}
