.home {
  display: grid;
  grid-template-areas:
    "logo insignia"
    "name insignia"
    "rol insignia";
  grid-template-columns: 18em max-content;
  gap: 0.5em;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  text-align: center;
}

.home__logo {
  grid-area: logo;

  width: 12.5em;
  aspect-ratio: 1;

  object-fit: cover;
  clip-path: circle(50%);
}

.home__name {
  grid-area: name;
  font-size: 2em;
  margin: 0.5em;
}

.home__rol {
  grid-area: rol;
  position: relative;
  margin: 0px;
}

.home__rol::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 0.8em;
  z-index: -1;

  transform: skew(-12deg) translateX(-50%);
  background: var(--yellow-color);
}

.home__insignia {
  grid-area: insignia;

  height: 26.5em;
  overflow-y: scroll;
}

.insignia__list {
  padding-left: 0;
  list-style: none;
  cursor: all-scroll;
}

.insignia__option {
  background-color: var(--fresh-color);
  border: 5px solid var(--black-color);
  margin: 16px;
  box-shadow: 1px 3px 5px var(--gray-dark-color);
  width: max-content;
}

.insignia__img {
  width: 3em;
  aspect-ratio: 1;
  margin: 0.6em;
  object-fit: cover;
}

/* - Mobile */
@media only screen and (max-width: 630px) {
  .home {
    grid-template-areas:
      "logo"
      "name"
      "rol"
      "insignia";
    grid-template-columns: 18em;
    gap: 0em;
  }

  .home__insignia {
    justify-self: start;
    width: 100%;
    height: max-content;

    overflow-x: scroll;
    white-space: nowrap;
  }

  .insignia__option {
    display: inline-block;
  }
}
