.wall {
  background-color: var(--white-color);
  backdrop-filter: blur(10px);
}

.wall--main {
  width: 60vw;
  height: 60vh;
  box-sizing: border-box;
}

.wall--left,
.wall--right {
  position: absolute;

  height: 100vh;
  width: 20vw;

  background-color: var(--gray-light-color);
}

.wall--left {
  left: 0;

  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 100% 85%, 100% 15%, 50% 0%);
}

.wall--right {
  right: 0;

  clip-path: polygon(0% 15%, 0% 85%, 50% 100%, 100% 100%, 100% 0%, 50% 0%);
}
