:root {
  --color-vermillion: #333a56;
  --color-sunshine: #52658f;
  --font-color: #000;
  /**/
  --color-fresh: #f7f5e6;
  --clean-color: #e8e8e8;

  --dark-color: #18121b;
  --blue-dark-color: #233237;
  --orange-dark-color: #984b43;
  --yellow-color: #eac67a;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  color: var(--font-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(0deg, #f1c40f 5%, #84817a 75%);
}

/**
  TRANSITION
*/
.view {
  position: absolute;
  right: 0;

  width: 0;
  height: 100%;

  opacity: 0;
}

.view:target {
  left: 0;

  width: 100%;

  transition: opacity ease-in 0.4s, width ease-in 0.2s;
  opacity: 1;
}
