:root {
  --black-color: #000;
  --white-color: #f7f1e3;
  --gray-dark-color: #84817a;
  --gray-light-color: #d1ccc0;
  --yellow-color: #f1c40f;

  --fresh-color: #f7f5e6;
  --clean-color: #e8e8e8;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  color: var(--black-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(
    0deg,
    var(--yellow-color) 5%,
    var(--gray-dark-color) 75%
  );
}

/**
  TRANSITION
*/
.view {
  position: absolute;
  right: 0;

  width: 0;
  height: 100%;

  opacity: 0;
  overflow: hidden;
}

.view:target {
  left: 0;

  width: 100%;

  transition: opacity ease-in 0.4s, width ease-in 0.2s;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .body {
    font-size: 16px;
  }
}
/* - Tablet */
@media only screen and (max-width: 950px) {
  .body {
    font-size: 14px;
  }
}

/* - Mobile */
@media only screen and (max-width: 630px) {
  .body {
    font-size: 12px;
  }
}
