.body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.gallery {
  overflow: auto;
  white-space: nowrap;
}

.frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  margin: 48px;

  background-color: #f1f2f6;
  border: 10px solid #2f3542;
  box-shadow: 2px 2px 13px #2f3542, 2px 2px 13px #2f3542 inset;
}

.frame__img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 0 5px #2f354227;
}
